# Export test list and test results

Learn how to export your results to a CSV file

You can export your test results both from the [Execution Runs](https://help.testim.io/docs/execution-runs-screen) view,  [Test Runs](https://help.testim.io/docs/test-runs) view, and [Test List](https://help.testim.io/docs/test-list) by clicking on the export button.

Using the different filters available on each view, will create a modified export file according to the selected filters.

> 📘 This is a pro feature
>
> This feature is only open to projects on our professional plan. To learn more about our professional plan, click [here](https://www.testim.io/pricing/).

## Export Test Results from Execution Runs View

![](https://files.readme.io/5fc59ec-excution-runs.jpg "excution-runs.jpg")

:fa-arrow-right: **To export test results from the Execution Runs view:**

1. Navigate to Runs > Execution Runs.
2. Click the **Advanced Filters** button to filter the list of execution runs you want to export (See [Execution Runs Screen](https://help.testim.io/docs/execution-runs-screen))

![](https://files.readme.io/c299194-filters.jpg "filters.jpg")

3. Click the **Export to CSV** button to download a CSV file of the execution runs.

![](https://files.readme.io/ff0a82c-export.jpg "export.jpg")

## Export Test Results from Test Runs View

![](https://files.readme.io/0bae325-test-runs.jpg "test-runs.jpg")

:fa-arrow-right: **To export test results from the Test Runs view:**

1. Navigate to Runs > Test Runs.
2. Click the **Advanced Filters** button to filter the list of execution runs you want to export (See [Test runs](https://help.testim.io/docs/test-runs)).

![](https://files.readme.io/84a6fc1-filters.jpg "filters.jpg")

3. Click the **Export to CSV** button to download a CSV file of the execution runs.

![](https://files.readme.io/34ae4d8-export.jpg "export.jpg")

## Export Test Results from Test List View

![](https://files.readme.io/42ee376-test-list.jpg "test-list.jpg")

:fa-arrow-right: **To export test results from the Test List view:**

1. Navigate to Test List > Tests.
2. Click the **Advanced Filters** button to filter the list of execution runs you want to export (See [Test runs](https://help.testim.io/docs/test-runs)).

![](https://files.readme.io/c163714-filters.jpg "filters.jpg")

3. Click the **Export to CSV** button to download a CSV file of the execution runs.

![](https://files.readme.io/8bde21d-export.jpg "export.jpg")