---
title: 'テストリストとテスト結果のエクスポート'
description: 'テスト結果をCSVファイルにエクスポートする方法について説明します。実行画面、テスト実行画面、テストリスト画面からエクスポートできます。'
category: '結果'
order: 13
updated: '2025-11-11'
keywords:
  - testim
  - export-test-list-and-test-results
  - results
  - CSVエクスポート
---
結果をCSVファイルにエクスポートする方法を学びます。

エクスポートボタンをクリックすることで、[実行画面](/docs/results/execution-runs-screen)、[テスト実行](/docs/results/test-runs)画面、[テストリスト](/docs/test-management/test-list)からテスト結果をエクスポートできます。

各ビューで利用可能なさまざまなフィルターを使用すると、選択したフィルターに応じて変更されたエクスポートファイルが作成されます。

> 📘 これはプロ機能です
>
> この機能は、プロフェッショナルプランのプロジェクトにのみ開放されています。プロフェッショナルプランの詳細については、[こちら](https://www.testim.io/pricing/)をクリックしてください。

## 実行画面からテスト結果をエクスポートする

![](/images/results/export-test-list-and-test-results/5fc59ec-excution-runs.jpg "excution-runs.jpg")

:fa-arrow-right: **実行画面からテスト結果をエクスポートするには:**

1. 実行 > 実行画面に移動します。
2. **詳細フィルター**ボタンをクリックして、エクスポートしたい実行のリストをフィルタリングします([実行画面](/docs/results/execution-runs-screen)を参照)。

![](/images/results/export-test-list-and-test-results/c299194-filters.jpg "filters.jpg")

3. **CSVにエクスポート**ボタンをクリックして、実行のCSVファイルをダウンロードします。

![](/images/results/export-test-list-and-test-results/ff0a82c-export.jpg "export.jpg")

## テスト実行画面からテスト結果をエクスポートする

![](/images/results/export-test-list-and-test-results/0bae325-test-runs.jpg "test-runs.jpg")

:fa-arrow-right: **テスト実行画面からテスト結果をエクスポートするには:**

1. 実行 > テスト実行に移動します。
2. **詳細フィルター**ボタンをクリックして、エクスポートしたい実行のリストをフィルタリングします([テスト実行](/docs/results/test-runs)を参照)。

![](/images/results/export-test-list-and-test-results/84a6fc1-filters.jpg "filters.jpg")

3. **CSVにエクスポート**ボタンをクリックして、実行のCSVファイルをダウンロードします。

![](/images/results/export-test-list-and-test-results/34ae4d8-export.jpg "export.jpg")

## テストリスト画面からテスト結果をエクスポートする

![](/images/results/export-test-list-and-test-results/42ee376-test-list.jpg "test-list.jpg")

:fa-arrow-right: **テストリスト画面からテスト結果をエクスポートするには:**

1. テストリスト > テストに移動します。
2. **詳細フィルター**ボタンをクリックして、エクスポートしたい実行のリストをフィルタリングします([テスト実行](/docs/results/test-runs)を参照)。

![](/images/results/export-test-list-and-test-results/c163714-filters.jpg "filters.jpg")

3. **CSVにエクスポート**ボタンをクリックして、実行のCSVファイルをダウンロードします。

![](/images/results/export-test-list-and-test-results/8bde21d-export.jpg "export.jpg")
